/* here you can put your own css to customize and override the theme */
div.has-error {
    border-bottom: 1px red;
}

.table-toolbar {
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
}

ul.page-breadcrumb li {
    color: #888;
}

ul.page-breadcrumb li:not(:last-child):after  {
    content: " /";
}

ul.page-breadcrumb li:last-child a {
    color: #32c5d2 !important;
}

@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}
@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}
