@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSans-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }

@font-face {
    font-family: "OpenSansLightItalic";
    src: url("../fonts/OpenSans-Lightitalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }

@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }

@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }

@font-face {
    font-family: "OpenSansSemibold";
    src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }

@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }

body{
    position:relative;
    background-color:#e9edf4;
    width:100%;
    overflow-x:hidden;
    font-family:'OpenSansRegular';
    font-size:1em;
    color:#222223;
    margin:0;
    padding:0;
    height:auto;
}
header{
    position:relative;
    padding:30px 0;
    background-color: white;
}
header div.tou-container{
    max-width: 1188px;
    margin:0 auto;
}
header div.tou-container div img{
    position: relative;
    max-width:190px;
}
body section.section-container{
    max-width: 1188px;
    margin:0 auto;
    padding: 30px 77px 30px 77px;
}
body section.section-container div.tou-ps-panel{
    background-color:white;
}
body section.section-container div.tou-ps-panel div.tou-title-wrapper{
    background-color:#f7faff;
    margin:0;
}
body section.section-container div.tou-ps-panel div.tou-title-wrapper div.tou-title-container{
    text-align: center;
    padding: 30px 0;
}
body section.section-container div.tou-ps-panel div.tou-title-wrapper div.tou-title-container p.tou-title{
    font-family:'OpenSansRegular';
    font-size:2.4em;
    line-height:28.8px;
    text-transform:uppercase;
    color:#222223;
    margin:0;
}
body section.section-container div.tou-ps-panel div.tou-content-wrapper{
    padding: 0 125px;
    margin:0;
}
body section.section-container div.tou-ps-panel div.tou-content-wrapper div.tou-subtitle-container{
    padding: 0;
    margin: 30px 0;
    text-align: center;
}
body section.section-container div.tou-ps-panel div.tou-content-wrapper div.tou-subtitle-container p.subtitle{
    font-family:'OpenSansRegular';
    font-size:18px;
    line-height:22px;
    text-transform:uppercase;
    color:#222223;
    margin:0;
}
body section.section-container div.tou-ps-panel div.tou-content-wrapper div.tou-content-container{
    padding:0;
    text-align: left;
}
body section.section-container div.tou-ps-panel div.tou-content-wrapper div.tou-content-container p.tou-text{
    font-family: "OpenSansLight";
    font-size: 12px;
    line-height:23px;
    margin-bottom:14px;
}
body section.section-container div.tou-ps-panel div.tou-content-wrapper div.tou-content-container p.tou-text-date{
    font-family: "OpenSansLight";
    font-size: 12px;
    line-height:23px;
    margin: 22px 0 60px 0;
}
body section.section-container div.tou-ps-panel div.tou-content-wrapper div.tou-content-container p.tou-text a{
    font-family:'OpenSansRegular';
    font-size: 12px;
    line-height:23px;
    color:#0000FF;
    text-decoration: none;
}
body section.section-container div.tou-ps-panel div.tou-content-wrapper div.tou-content-container p.tou-text a:hover{
    text-decoration: underline;
    cursor:pointer;
}
body footer{
    width:100%;
    background-color:white;
    padding: 60px 0;
}
body footer div.footer-contacts-wrapper{
    max-width: 1188px;
    margin:0 auto;
    padding: 0 77px;
}
body footer div.footer-contacts-wrapper div.footer-title-container{
    text-align:center;
    padding:0 0 28px 0;
}
body footer div.footer-contacts-wrapper div.footer-title-container p.footer-title{
    font-family:'OpenSansRegular';
    font-size:2.4em;
    line-height:28.8px;
    text-transform:uppercase;
    color:#222223;
    margin:0;
}
body footer div.footer-contacts-wrapper div.footer-contacts-container{
    text-align:center;
    margin-bottom:14px;
}
body footer div.footer-contacts-wrapper div.footer-contacts-container a.footer-link{
    font-family:'OpenSansRegular';
    font-size: 12px;
    line-height:23px;
    color:#0000FF;
    text-decoration: none;
}
body footer div.footer-contacts-wrapper div.footer-contacts-container a.footer-link:hover{
    text-decoration: underline;
    cursor:pointer;
}
body footer div.footer-contacts-wrapper div.footer-contacts-container p.footer-contacts-text{
    margin:0;
    font-family: "OpenSansLight";
    font-size: 12px;
    line-height:23px;
    text-align: center;
}
body footer div.footer-contacts-wrapper div.footer-contacts-container-last{
    text-align:center;
    margin-bottom:0;
}
body footer div.footer-contacts-wrapper div.footer-contacts-container-last div.tou-footer-link-container{
    display:inline-block;
    padding-right:10px;
}
body footer div.footer-contacts-wrapper div.footer-contacts-container-last div.ps-footer-link-container{
    display:inline-block;
    padding-left:10px;
}
body footer div.footer-contacts-wrapper div.footer-contacts-container-last a.toups-footer-link{
    font-family:'OpenSansRegular';
    font-size: 12px;
    line-height:23px;
    color:#222223;
    text-decoration: none;
}
body footer div.footer-contacts-wrapper div.footer-contacts-container-last a.toups-footer-link:hover{
    text-decoration: underline;
    color:#0000FF;
    cursor: pointer;
}
section.bottom-line{
    height:30px;
    width:100%;
    margin:0 auto;
    background-color:#002f87;
}
/* Privacy Statement */
body section.section-container div.tou-ps-panel div.tou-content-wrapper div.tou-content-container p.tou-text-small-title{
    font-family: "OpenSansBold";
    font-size: 16px;
    line-height:19px;
    margin:16px 0 14px 0;
    color:#222223;
}
body section.section-container div.tou-ps-panel div.tou-content-wrapper div.tou-content-container p.tou-text-cursive-subtitle{
    font-family: "OpenSansItalic";
    font-size: 12px;
    line-height:14px;
    margin:0 0 14px 0;
    color:#9598a0;
}
/* media */
@media only screen and (max-width: 736px) {
    header{
        padding:15px 0;} }
/*********/
/* media */
@media only screen and (max-width: 1024px) {
    header div.tou-container div img{
        max-width:136px;} }
@media only screen and (max-width: 736px) {
    header div.tou-container div img{
        max-width:116px;} }
/*********/
/* media */
@media only screen and (max-width: 667px) {
    body section.section-container{
        padding: 30px 15px 30px 15px;} }
/*********/
/* media */
@media only screen and (max-width: 736px) {
    body section.section-container div.tou-ps-panel div.tou-title-wrapper div.tou-title-container{
        padding: 15px 15px;} }
/*********/
/* media */
@media only screen and (max-width: 736px) {
    body section.section-container div.tou-ps-panel div.tou-title-wrapper div.tou-title-container p.tou-title{
        font-size:1.8em;} }
/*********/
/* media */
@media only screen and (max-width: 667px) {
    body section.section-container div.tou-ps-panel div.tou-content-wrapper{
        padding: 0 100px;} }
@media only screen and (max-width: 568px) {
    body section.section-container div.tou-ps-panel div.tou-content-wrapper{
        padding: 0 80px;} }
@media only screen and (max-width: 414px) {
    body section.section-container div.tou-ps-panel div.tou-content-wrapper{
        padding: 0 20px;} }
/*********/
/* media */
@media only screen and (max-width: 736px) {
    body section.section-container div.tou-ps-panel div.tou-content-wrapper div.tou-subtitle-container p.subtitle{
        font-size:16px;} }
/*********/
/* media */
@media only screen and (max-width: 667px) {
    body section.section-container div.tou-ps-panel div.tou-content-wrapper div.tou-content-container p.tou-text-date{
        margin: 22px 0 30px 0;} }
/*********/
/* media */
@media only screen and (max-width: 736px) {
    body footer{
        padding: 30px 0;} }
/*********/
/* media */
@media only screen and (max-width: 667px) {
    body footer div.footer-contacts-wrapper{
        padding: 0 15px;} }
/*********/